{% extends "includes/dash.html" %}
{% load static %}

{% block title %} FEMY SHOP {% endblock %}

{% block content %} 

<div class="container pt-5 my-5 border bg-white text-black w-50">
    <h3 style="text-align: center;"><b>LOGIN FORM</b></h3>
    <form method="POST" class="form-control form-control-sm" id="form-control form-control-sm">
        {% csrf_token %}
        {{ form.UserName }}
        {{ form.password }}
        <div class="form-group form-button" >
            <input type="submit" class="form-submit">
        </div>
    </form>
</div>
{% endblock %}